.jumbotron {
  background-color: grey;
  text-align: center;
    height: 100%;
    color: white;
}
body{
  background-color: white;
  font-family: Tahoma;
}
.splitter{
text-align: left;
}

.location {
}

.main{
  text-align: center;
}

#foot{
  position:relative;
}
